@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body {
    background-image: url(../img/dark_geometric.png);
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1 {
    font-size: 56px;
}

p.lead {
    text-shadow: 1px 1px 40px #fff;
}

p.call-to-action {
    font-size: 24px;
}

div.social {
    margin: 10px;
}

.modal-content {
    color: #000;
}

#snap-logo {
    width: 128px;
    height: 128px;
    display: inline-block;
    background-image: url(../img/snap.png);
}

.app-title {
    margin-top: 0px;
}

div.quick-form {
    border: 5px solid #161616;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Modal Styles */
.popover {
    border: 1px solid #585858;
}

.popover-title {
    font-size: 16px;
}

.popover-content {
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
}

.popover-content li {
    padding-top: 5px;
}

span.blue {
    color: #428bca;
}

.popover-content a {
    text-decoration: none;
    border-bottom: 1px dashed #428bca;
}

div.popover, h3.popover-title {
    color: #fff;
    background-color: #252525;
}

h3.popover-title {
    border-bottom: 1px solid #585858;
}

.popover.top>.arrow:after,
.popover.bottom>.arrow:after
.popover.left>.arrow:after
.popover.right>.arrow:after {
    border-top-color: #585858 !important;
}

div.popover-footer {
    border-top: 1px solid #585858;
}

.close {
    color: #fff;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

span.attention {
    border-bottom: 1px dashed #428bca;
    color: #428bca;
    font-weight: bold;
}

span.attention > a:hover {
    text-decoration: none;
}