{% extends "front/layouts/main.twig" %}

{% block title %}Web page screenshot{% endblock %}

{% block content %}
<div id="alert-msg"></div>
<div class="row">
    <div class="col-lg-12 text-center">
        <span id="snap-logo"></span>
        <h1 class="app-title">WebSnap</h1>

        <div class="quick-form">
            <p class="lead">Enter URL and take a quick screenshot of the web page with one click!</p>
            <form id="snapshotForm">
                <div class="input-group form-group">
                    <input type="text" id="webpageurl" mame="webpageurl" class="form-control" placeholder="Web page URL with http://">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="take-screenshot-btn" type="button"><i class="fa fa-camera-retro fa-lg"></i> Snap It</button>
                    </span>
                </div>
            </form>
        </div>

        <p class="call-to-action">IF YOU WANT TO <span class="attention"><a href="#" id="trig-attention">DO MORE</a></span> - SIGN IN WITH</p>

        <div class="social">
            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
            <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>
<div id="img-container"></div>
<!-- /.row -->
{% endblock %}